provincia.cpg
provincia.dbf
provincia.prj
provincia.shp
provincia.shx
Regional.CPG
Regional.dbf
Regional.prj
Regional.shp
Regional.shx
Regional.sbn
Regional.sbx
Regional.shp.xml
comunas.CPG
comunas.dbf
comunas.prj
comunas.sbn
comunas.sbx
comunas.shx
comunas.shp.xml
P1.ipynb
P2.ipynb
P3.ipynb
P4.ipynb
P5.ipynb
limpieza.ipynb
mapas.ipynb
data_clean
